@model IEnumerable<MessageDetails>
<h1>Demo ASP MVC</h1>
@foreach(MessageDetails msg in Model){
    <div>
        <p>@msg.Sender.FirstName @msg.Sender.LastName :</p>
        <p>(envoyé à @msg.Receiver.FirstName @msg.Receiver.LastName le @msg.SendedDate.ToString("dd/MM/yyyy hh:mm")</p>
        <p>@msg.Content</p>
        <p>@((msg.IsReceived ? "✔️" : "❌"))</p>
    </div>
}